APP_PASSWORD=
FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
GEMINI_API_KEY=
GOOGLE_DRIVE_API_KEY=
GOOGLE_DRIVE_FOLDER_ID=
HARDWORQ_API_BASE=
HARDWORQ_AUTO_SYNC=
HARDWORQ_EMAIL=
HARDWORQ_HWQ_BASE=
HARDWORQ_ID_TURMA=
HARDWORQ_MAX_BANK=
HARDWORQ_SENHA=
HARDWORQ_SYNC_INTERVAL_H=
OPENAI_API_KEY=
OPENAI_MODEL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=